/*hakkında başlangıç*/
.hakSection {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    margin-top: 10%;
}
.container1 {
    width: 40%;
    display: grid;
    grid-template-rows: .28fr 1fr 1fr;
    background-color:var(--ana-renk);
    padding:0 3rem ;
}
.container2{
    width: 60%;
    height: 96rem;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    background-color: var(--ikinci-renk);
}
.container1 .hakkında {
    font-size: 4rem;
    color: var(--ikinci-renk);
    font-weight: 800;
    padding-top: 2rem;
}
.container1 .profilh3 {
    font-size: 3rem;
    color: var(--dördüncü-renk);
    margin-bottom: 5%;
}
.container1 .profilp {
    font-size: 1.8rem;
    color: var(--siyah);
    line-height: 2.5rem;
    letter-spacing: 1%;
}
.container1 .teknikh3 {
    font-size: 3rem;
    color: var(--dördüncü-renk);
    margin-bottom: 5%;
}
.container1 .teknikp {
    font-size: 1.8rem;
    color: var(--siyah);
    line-height: 2.5rem;
    letter-spacing: 1%;
}
.container1 ul {
    margin-top: 5%;
    height: 5rem;
    position: relative;
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5%;
}
.container1 ul li {
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 300ms transform;
    transform: scale(1);
}
.container1 ul li:hover{
    transition: 300ms transform;
    transform: scale(1.2);
}
.container1 ul li span{
    color: 	var(--metin-renk);
    font-size: 1.5rem;
    font-weight: 600;
    user-select: none;
}
.container1 ul .html{
    background-color: #E34C26;
}
.container1 ul .css{
    background-color: #264de4;
}
.container1 ul .javascript{
    background-color: #f0db4f;
}
.container2 .göreseld {
    width: 100%;
    height: 10%;
    background-color: transparent;
    display: block;
    border-width: 0 0 5px 0;
    border-color: var(--dördüncü-renk);
    border-style: solid;
}
.container2 .projeh {
    font-size: 3rem;
    color: var(--üçüncü-renk);
    font-weight: 300;
    padding-top: 3.5rem;
    padding-left: 1rem;
    margin-bottom: 5%;
}
.container2 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;   
    list-style: none;
    flex-direction: column;
    gap: 2rem; 
}
.container2 ul li {
    width: 50%;
    height: 30%;
    background-color: var(--üçüncü-renk);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    user-select: none;
}
/*hakkında bitiş*/
/*özgeçmiş başlangıç*/
.özSection {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}
.özSection h2{
    font-size: 4rem;
    color: var(--ikinci-renk);
    font-weight: 800;
    padding: 0 3.7rem;
}
.özSection .eğitimsec {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 5rem 2% 11rem 2%;
}
.özSection .eğitimsec .eğitimh {
    font-size: 3rem;
    color: var(--dördüncü-renk);
    margin-bottom: 2%;
}
.özSection .eğitimsec article {
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5rem;
    flex-direction: row;
}
.özSection .eğitimsec article .eğitimd1 {
    width: 40%;
    height: 15rem;
    background-color: var(--üçüncü-renk);
    padding: 1rem 0 0 2rem;
    border-left: #2C3E50 solid 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}
.özSection .eğitimsec article .eğitimd2 {
    width: 40%;
    height: 15rem;
    background-color: var(--üçüncü-renk);
    padding: 1rem 0 0 2rem;
    border-left: #2C3E50 solid 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}
.özSection .eğitimsec article h4{
    font-size: 2rem;
    color: var(--siyah);
    font-weight: 600;
    margin-bottom: 3px;
}
.özSection .eğitimsec article .p1{
    font-size: 1.4rem;
    color: var(--siyah);
    font-weight: 500;
    margin-bottom: 3px;
}
.özSection .eğitimsec article p{
    font-size: 1.4rem;
    color: var(--ikinci-renk);
    font-weight: 500;
}
.sertifikasec {
    width: 100%;
    background-color:var(--ikinci-renk);
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 5rem 2%;
    position: relative;
}
.sertifikah {
    font-size: 3rem;
    color: var(--metin-renk);
    margin: 1% 0;
}
.sertifikasec article {
    width: 100%;
    display: flex;
    justify-content:space-between   ;
    align-items: center;
    flex-direction: row;   
}
.sertifikasec .div1{
    width: 45%;
    background-color: var(--ana-renk);
    padding: 1rem;
    border-radius: 20px;
    position: relative;
    border: solid 3px var(--dördüncü-renk);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}
.sertifikasec .div1 h4 {
    font-size: 2.5rem;
    color: var(--siyah);
    font-weight: 600;
    margin-bottom: 3px;
}
.sertifikasec .div1 .p1 {
    font-size: 1.4rem;
    color: var(--siyah);
    font-weight: 600;
    margin-bottom: 3px;
}
.sertifikasec .div1 p {
    font-size: 1.4rem;
    color: var(--ikinci-renk);
    font-weight: 600;
}
.sertifikasec .div1 a {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 1.4rem;
    background-color: var(--dördüncü-renk);
    border-radius: 40px;
    text-decoration:none ;
    font-size: 1.6rem;
    color: var(--metin-renk);
    font-weight: 600;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    transition: 300ms outline;
    outline: 3px solid transparent;
    user-select: none;
}
.sertifikasec a:hover {
    transition: 300ms outline;
    outline: 3px solid var(--üçüncü-renk);
}
.kariyersec {
    width: 60%;
    background-color: var(--ana-renk);
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    padding: 5rem 2%;
}
.kariyersec h3 {
    font-size: 3rem;
    color: var(--dördüncü-renk);
    padding: 3% 0;
}
.kariyersec p {
    font-size: 1.8rem;
    color: var(--siyah);
    line-height: 2.5rem;
    letter-spacing: 1%;
}
/*özgeçmiş bitiş*/
/*main bitiş*/
/*footer başlangıç*/
footer {
    height: auto;
    width: 100%;
    background-color: var(--üçüncü-renk);
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 2rem;
    flex-direction: column;
    position: relative;
    bottom: 0;
}
footer .sosyalsec ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    height: 7.5rem;
    width: 40rem;
    gap: 40px;
    list-style: none;
}
footer .sosyalsec ul li a {
    background-color: var(--metin-renk);
    transform: scale(1);
    transition: 300ms transform;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    user-select: none;
    position: relative;
}

footer .sosyalsec ul li a:hover {
    transition: 300ms transform;
    transform: scale(1.2);
}
footer .navsec  {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 5rem;
    gap: 20px;
}
footer .navsec a {
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--siyah);
    transition: 300ms color;
    user-select: none;
}
footer .navsec a:hover{
    color: var(--ikinci-renk);
}

footer .kişiselsec a{
    font-size: 1.6rem;
    margin-top: 10rem;
    color: var(--ikinci-renk);
    text-decoration: none;
}
footer .konumsec {
    height: 5rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: end;
}
footer .konumsec span {
    position: absolute;
    z-index: 99;
    font-size: 1.6rem;
    bottom: 0;
    color: var(--siyah);
}
/*footer bitiş*/
/*scrol başlangıç*/
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--üçüncü-renk);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--ikinci-renk);
}
::-webkit-scrollbar-thumb:hover {
  background: #8f8f8f;
}
/*scrol bitiş*/
/*media etiketleri başlangıç*/
@media (max-width: 1280px) {
.container1 {
    grid-template-rows: .28fr 1fr 1fr;
}
.container1 .teknikp {
    font-size: 1.6rem;
    line-height: 2rem;
}
.container1 .profilp {
    font-size: 1.6rem;
    line-height: 2rem;
}
}  
@media (max-width: 1024px) {
.container1 .teknikp {
    font-size: 1.6rem;
    line-height: 1.7rem;  
}
.container1 .profilp {
    font-size: 1.6rem;
    line-height: 1.7rem;
}
.container1 .profilh3 {
    font-size: 2.4rem;
}
.container1 .teknikh3 {
    font-size: 2.4rem;
}
.container1 ul li {
    height: 4rem;
    width: 4rem;
}
header nav ul {
    width: 100%;
    height: 5rem;
    gap: 5rem;
    font-size: 1.8rem;
}
header a::after {
    height: .6rem;
    width: 9.5rem;
}
.anaSection .anah1 {
    font-size: 4rem;
    margin-bottom: 3%;
}
.eğitimd1 h4{
    font-size: 1.8rem;
    margin-bottom: 3px;
}
.sertifikasec .div1 h4 {
    font-size: 1.8rem;
}
.sertifikasec .div1 .p1 {
    font-size: 1.2rem;
}
.sertifikasec .div1 p {
    font-size: 1.2rem;
}
.sertifikasec .div1 a {
    padding: 1rem;
    font-size: 1.4rem;
}
}
@media (max-width: 750px) {
header nav ul {
    display: none;
}
.menubtn{
    display: inline-block;
}
.anaSection .anah1 {
    font-size: 3.5rem;
    margin-bottom: 5%;
}
.anaSection .anah3 {
    font-size: 2rem;
    margin-bottom: 12%;
}
.hakSection {
    width: 100%;
    flex-direction: column;
}
.container1 {
    grid-template-rows: .28fr .9fr 1fr;
    width: 100%;
}
.container1 .teknikp {
    font-size: 1.6rem;
    line-height: 2.2rem;
}
.container1 .profilp {
    font-size: 1.6rem;
    line-height: 2.2rem;
}
.container2{
    width: 100%;
}
.özSection .eğitimsec article .eğitimd1 {
    width: 45%;
}
.özSection .eğitimsec article .eğitimd2 {
    width: 45%;
}
.özSection .eğitimsec article h4{
    font-size: 1.5rem;
}
.özSection .eğitimsec article .p1{
    font-size: 1.2rem;
}
.özSection .eğitimsec article .div1{
    width: 49%;     
}
.sertifikasec article {
    width: 100%;
    height: 15rem; 
}
.kariyersec {
    width: 100%;
}
.kariyersec h3 {
    font-size: 3rem;
}
.kariyersec p {
    font-size: 1.8rem;
    line-height: 2.5rem;
}
.sertifikasec .div1{
    width: 45%;
    height: 15rem;
    padding: 1rem;
}
.menunav {
    display: none;
}
}
@media (max-width: 506px) {
.özSection h2 {
        margin: 2rem  0;
    }
.özSection .eğitimsec {
    padding: 2rem 2% 11rem 2%;
}
.özSection .eğitimsec article {
    width: 100%;
    flex-direction: column;
    gap: 2rem;
}
.özSection .eğitimsec article .eğitimd1 {
    width: 100%;
}
.özSection .eğitimsec article .eğitimd2 {
    width: 100%;
}
.özSection .eğitimsec article h4{
    font-size: 1.8rem;
}
.özSection .eğitimsec article .p1{
    font-size: 1.4rem;
}
.özSection .eğitimsec article p{
    font-size: 1.4rem;
}
.container2 ul li {
    width: 70%;
}
.sertifikasec .div1 .p1 {
    font-size: 1rem;
}
.sertifikasec .div1 p {
    font-size: 1rem;
}
.eğitimd1 h4{
    font-size: 1.6rem;
}
footer .sosyalsec ul{
    gap: 25px;
}
footer .navsec a {
    font-size: 1.4rem;
}
footer .kişiselsec a{
    font-size: 1.4rem;
}
footer .konumsec span {
    font-size: 1.4rem;
}
.container1 .hakkında {
    font-size: 3rem;
}
.container1 .profilh3 {
    margin-bottom: 10%;
}
.container1 .teknikh3 {
    margin-bottom: 10%;
}
.özSection h2{
    font-size: 3rem;
    padding: 0 1rem;
    margin-bottom: 0;
}
.özSection .eğitimsec .eğitimh {
    font-size: 2.5rem;
    margin-bottom: 5%;
}
.sertifikah {
    font-size: 2.5rem;
    margin: 2% 0;
    padding-left:1rem ;
}
.kariyersec h3 {
    font-size: 2.5rem;
}
.kariyersec p {
    font-size: 1.6rem;
    line-height: 2.2rem;
}
.container1 {
    grid-template-rows: .20fr .9fr 1fr;
}
}
@media (max-width: 388px) {
.özSection .eğitimsec article  h4{
    font-size: 1.8rem;
}
.özSection .eğitimsec article .p1{
    font-size: 1.2rem;
}
.özSection .eğitimsec article p{
    font-size: 1.2rem;
}
.sertifikasec {
    width: 100%;
    flex-direction: column;
    padding: 0 ;
}
.sertifikasec article {
    width: 100%;
    height: 35rem;
    gap: 3rem;
    flex-direction: column; 
    padding: 2rem 0;  
}
.sertifikasec .div1{
    width: 90%;
    padding: 1rem;
}
.sertifikasec .div1 h4 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3px;
}
.sertifikasec .div1 .p1 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 3px;
}
.sertifikasec .div1 p {
    font-size: 1.2rem;
    font-weight: 600;
}
.sertifikasec .div1 a {
    padding: 1rem;
    font-size: 1.6rem;
}
}